.reviews-container {
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews-container>h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.reviews-items {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.review-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  background-color: rgba(44, 44, 44, 0.29);
  height: 20rem;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  min-width: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media screen and (max-width: 768px) {
  .reviews-container>h2 {
    text-align: center;
    font-size: 1.5em;
  }

  .reviews-container {
    height: 60vh;
    display: block;
    overflow-x: hidden;
  }
}