.about-container {
  height: 100vh;
  display: flex;
  gap: 80px;
  width: 100%;
  align-items: center;
}

.about-left {
  height: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 0px;
  flex: 1;
}

.items-image {
  width: 200px;
}

.about-item {
  flex: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 350px;
  height: 350px;
  background-color: #212121;
}

.about-right {
  flex: 1;
}


@media screen and (max-width: 768px) {
  .about-container {
    height: auto;
    flex-direction: column;
    gap: 0px;
  }

  .about-left {
    display: flex;
    flex-wrap: wrap;
  }

  .about-item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 350px;
    background-color: #212121;
  }

  /* .about-item {
    width: 150px;
    height: 150px;
  }

  .items-image {
    width: 150px;
    object-fit: contain;
  } */
}