.about-container {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  gap: 80px;
  width: 100%;
  align-items: center;
}


.about-long {
  line-height: 1.5em;
}

.about-left {
  height: 80%;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  flex: 1;
}

.items-image {
  width: 200px;
}



.about-item {
  flex: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 350px;
  height: 350px;
  background-color: #212121;
}

.about-right {
  height: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.about-right>ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 20px;
}

.features {
  color: #888888;
  ;
}

.about-long {
  color: #888888;
}

.about-right>p {
  font-size: 1em;
}

.about-title {
  font-size: 2.5em;
  font-weight: 700;
}


@media screen and (max-width: 1024px) {
  .about-container {
    height: auto;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .about-right{
    width: 100%;
  }

  .about-long {
    display: none;
  }

  .about-left {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .about-title {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .about-item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 350px;
    background-color: #212121;
  }

  /* .about-item {
    width: 150px;
    height: 150px;
  }

  .items-image {
    width: 150px;
    object-fit: contain;
  } */
}